@model IEnumerable<MVCConcesionaria.Models.VentaMoto>

@{
    ViewData["Title"] = "Index";
    List<VentaMoto> items = (List<VentaMoto>)ViewBag.items;
}

<h1>Lista de motos vendidas</h1>

<p>
    <a asp-action="Create">Nueva venta</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.cliente.PersonaDNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moto.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.PersonaDNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moto.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moto.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moto.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moto.Precio)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
