@model MVCConcesionaria.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar cliente</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaDNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaDNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="nav-link text-dark" asp-area="" asp-controller="Personas" asp-action="Index"></a>
        <a asp-action="Index">Volver a lista de clientes</a>
    </form>
</div>
